*{
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  color: #28313B;
}
html, body, header, main, nav, footer, article, blockquote,
div, section, span, iframe, img, video, figure, a, p, h1, h2,
h3, h4, h5, h6, strong, b, i, ul, ol, li, form, fieldset,
label, input, input:focus, select, select:focus, textarea, textarea:focus, table, button, thead, tbody, tfoot,
th, td, tr, aside, caption, sup, sub, q, small {
	padding: 0;
	margin: 0;
	border: 0;
  text-decoration: none;
}

a {
  color: blue;
	text-decoration: none;
}

html {
	/* font-family "Lato", sans-serif */
  width: 100%;
  scroll-behavior: smooth;

}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}
::-webkit-scrollbar{
  width: 7px;
  height: 7px;
  background-color: #F5F5F5;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #E7E7E7;
}

blockquote{
	quotes: none;
}
blockquote:after,
blockquote:before{
	content: "";
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
  font-size: 16px;
	line-height: 1;
	width: 100%;
  overflow-x: hidden;
  font-family: 'Source Code Pro', monospace;
}

ol, nav ul{
	list-style: none;
}

header {
  position: absolute;
  width: 100%;
  z-index: 10;
}

header > nav {
  height: 50px;
  padding: 10px 10px;
}

header > nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}


header > nav li {
  vertical-align: middle;
  display: inline-block;
  padding: 0 20px;
}

header > nav li a {
  display: block;
  color: #aaa;
  text-align: center;
  text-decoration: none;
}

header > nav li a:hover {
  border-bottom: solid 1px #F1F1F1;
  color: #F1F1F1;
}

/* #home {
  height: 100vh;
  width: 100%;
  padding: 20px;
  background: linear-gradient(217deg, rgba(126,22,0,1), rgba(126,22,0,0) 70.71%),
            linear-gradient(127deg, rgba(113,147,68,.8), rgba(113,147,68,0) 70.71%),
            linear-gradient(336deg, rgba(142,194,86,.8), rgba(142,194,86,0) 70.71%);
}

#home > .header {
  position: absolute;
  font-size: 1.5em;
  display: inline-block;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0px;
  right: 0;
  height: 34px;
  width: 100%;
  padding-left: 20px;
}

#home > .header > h3 {
  font-weight: 400;
}

#home > a.more {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 20px;
  margin: auto;
  width: 50px;
  height: 50px;
}
#home > a.more > img {
  height: 35px;
  padding: 9px;
}
#home > a.more:hover {
  color: #FFF;
  cursor: pointer;
} */

#profile {
  min-height: 100vh;
  width: 100%;
  padding: 30px;
  background: linear-gradient(#7E1600, #719344);
}

#profile > .profile-header {
  text-align: center;
  padding: 40px 0;
}

#profile > .profile-header > img {
  height: 200px;
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 50px;
}

#profile > .profile-header > h2 {
  font-size: 1.5em;
  display: inline-block;
  vertical-align: middle;
  color: #aaa
}

#profile > ul {
  width: 100%;
  list-style-type: none;
  padding: 10px 0;
}

#profile > ul > li > label {
  color: #aaaaaa;
  font-weight: 300;
}
#profile > ul > li > p {
  display: inline;
  color: #d6d6d6;
}

#profile > p {
  color: #d6d6d6;
  margin: 10px 0;
}

#profile > div.contact > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align: center;
}

#profile > div.contact > h5 {
  text-align: center;
  font-size: 1.4em;
  margin: 13px 0;
}

#profile > div.contact > ul > li {
  vertical-align: middle;
  line-height: 100%;
  display: inline-block;
  cursor: pointer;
}

#profile > div.contact > ul > li > a > img {
  height: 30px;
  vertical-align: middle;
}

#profile > div.contact > ul > li > a > label:hover {
  text-decoration: underline;
  cursor: pointer;
}

#profile > div.contact > ul > li > a > label {
  vertical-align: middle;
  height: 30px;
  color: #d6d6d6;
}

#projects {
  width: 100%;
  padding: 20px 0;
  background: linear-gradient(#719344, #FFF);
}

#projects > .project-list {
  list-style-type: none;
  text-align: center;
  padding: 20px;
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
}

#projects > .project-list > .project-item {
  width: 300px;
  min-height: 400px;
  -webkit-box-shadow: 2px 2px 9px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 2px 2px 9px 0px rgba(0,0,0,0.3);
  box-shadow: 2px 2px 9px 0px rgba(0,0,0,0.3);
  padding: 20px;
  display: inline-block;
  margin: 5px;
  background-color: #FFFFFF;
}

#projects > .project-list > .project-item > img {
  height: 150px;
  max-width: 250px;
}

#projects > .project-list > .project-item > label {
  font-size: 1.3em;
  font-weight: 600;
}

#projects > .project-list > .project-item > .content {
  margin: 5px 0;
}

#projects > .project-list > .project-item > .content > .description {
  text-align: justify;
  padding: 0 2px;
  margin: 10px 0;
}

#projects > .project-list > .project-item > .content > .description > label {
  font-weight: 600;
}

#knowledge {
  width: 100%;
}
#knowledge > .exp-title {
  text-align: center;
  margin: 20px 0;

}

.profile-image {
  height: 70px;
  width: 70px;
  border-radius: 50px;
}

.knowledge-list-container {
  padding: 10px;
  text-align: center;
  height: 169px;
  overflow-y: hidden;
  overflow-x: auto;
  width: auto;
  display: flex;
}
.knowledge-list-container > .exp-title {
  font-size: 1.3em;
}
.knowledge-list {
  vertical-align: middle;
  margin: 0 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-width: 150px;
  text-align: center;
}
.knowledge-list > img {
  max-width: 150px;
  max-height: 100px;
}
.knowledge-list > label {
  display: block;
  text-align: center;
}
#footer {
  position: relative;
  width: 100%;
  height: 300px;
  background: linear-gradient(#FFFFFF, #7E1600);
}

#footer > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align: center;
  bottom: 25px;
  position: absolute;
  left: 0;
  right: 0;
}

#footer  h5 {
  text-align: center;
  font-size: 1.4em;
  margin: 13px 0;
  color: #F1F1F1
}

#footer > ul > li {
  vertical-align: middle;
  line-height: 100%;
  display: inline-block;
  cursor: pointer;
}

#footer > ul > li > a > img {
  height: 30px;
  vertical-align: middle;
}

#footer > ul > li > a > label:hover {
  text-decoration: underline;
  cursor: pointer;
}

#footer > ul > li > a > label {
  vertical-align: middle;
  height: 30px;
  color: #d6d6d6;
}